@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');


* {
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    
}

body {
    
    background-color: hsl(216, 12%, 8%);
}

@media only screen and (max-width: 380px) {
   
    .Rating-state-card .Thank-you-card {
   
        margin-top: 500px;
    }
}

/* Rating State*/

.Rating-state-card {
    max-width: 20rem;
    padding: 2rem;
    background-image: linear-gradient(to top, hsl(207, 16%, 11%),hsl(213, 19%, 18%));
    border-radius: 1rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    box-shadow: 15px 20px 35px 7px rgba(0,0,0,0.6);
}

.Rating-state-card > img {
    background-color: hsl(213, 19%, 18%);
    border: 15px solid hsl(213, 19%, 18%);
    border-radius: 50%;
    cursor: pointer;
}

h1 {
    padding: 2rem 0;
}

.text {
    font-size: 1rem;
    color: hsl(217, 12%, 63%);
    font-weight: 400;
}

.radios {
    display: flex;
  width: auto;

}

label {
    display: flex; 
    margin: 1.5rem 0;
    gap:1.5rem;

    flex-grow: 1;

}
label input {
    display: none;
    width: 100%;
    margin: 1.5rem 0;
    justify-content: center;


}
label span {
  
    width: 3rem; 
    height: 3rem; 
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}
input:checked + span {
    background: hsl(217, 12%, 63%);
    color: white;
    border-color: #ccf;
}
input:hover + span {
    background: hsl(25, 97%, 53%);
    border-color: #ccf;
}







input[type=submit] {
    background-color: hsl(25, 97%, 53%) ;
    border: none;
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 40px;
}

input[type=submit]:hover {
    background-color: white;
    color: hsl(25, 97%, 53%)
}


/* Thank you state */

.Thank-you-card {
    max-width: 20rem;
    padding: 2rem;
    background-image: linear-gradient(to top, hsl(0, 0%, 3%),hsl(216, 12%, 8%));
    border-radius: 1rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 22rem;
    box-shadow: 15px 20px 35px 7px rgba(0,0,0,0.6);

}


.Thank-you-card > img {
    margin: 0 auto;
}

.Thank-you-card > * {
    display: flex;
    align-content: center;
    justify-content: center;
}


.selection {
background-color: hsl(213, 19%, 18%);
color: hsl(25, 97%, 53%);
border: 10px solid hsl(213, 19%, 18%);
border-radius: 20px;
margin: 1rem auto;

justify-content: center;
align-content: center;


}

.Thank-you-card > .text {
text-align: center;
}

.spanColor {
    color: hsl(25, 97%, 53%);
}